$color_primary_dark: rgba(24, 24, 24, 1.0)
$color_primary_light: rgba(236, 236, 236, 1.0)
$color_derived_light_dark: darken($color_primary_light, 20)
$color_derived_light_light: lighten($color_primary_light, 20)

$color_secondary_accent: rgba(52, 131, 199, 1.0)

$device_mobile: "only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait)"
$device_large: "only screen and (min-device-width: 1400px)"
